@model Reliable_Reservations_MVC.Models.Menu.MenuItemViewModel

<div>
    <p><strong>Menu Item ID:</strong> @Model.MenuItemId</p>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Price:</strong> @Model.Price</p>
    <p><strong>Category:</strong> @Model.Category</p>
    <p><strong>Availability status:</strong> @Model.AvailabilityStatus</p>
    <p><strong>Popularity status:</strong> @Model.IsPopular</p>
    <p><strong>Last updated:</strong> @Model.LastUpdated</p>
</div>
